<div class="main-dogs-container">
  <div class="dogs-container">
  <h6 class="header">There are <%= @dogs.all.length %> Dogs in Your Location</h6>
    <div class="container" style="margin: 17px;">
      <div class="cards">
      <% @dogs.each do |dog| %>
        <div class="card" style="width: 12rem;">
          <%= link_to dog_path(dog.id) do %>
          <!-- ADD ELSE STATEMENT TO PUT PLACEHOLDER OR ELSE WILL CRASH -->
          <%= cl_image_tag dog.photo, class:"card-img-top" %>
          <% end %>
          <div class="index-card-body">
            <h3 class="index-card-title"><%= dog.name %></h3>
            <p><%= dog.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <%# if policy(Dog).create? %>
      <%#= link_to "New Dog", new_dog_path %>
    <%# end %>
  </div>
  <% if !Dog.all.nil? %>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <% end %>
</div>

