<div class = 'container-dashboard'>
  <!-- <div class="col-sm-5"> -->
  <div class = "container-profile-info">
    <%= cl_image_tag @user.photo, :width => 300, :height => 300, :crop => "fill", class:"dash-photo" %>
      <div class = "dash-text">
      <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
      <h4><em><%= @user.description %></em></h4>
      <br>
      <br>
      <h5>Average Rating</h5>
       <%= image_tag "four_half_stars.png", :width => 100, :height => 20 %>
    </div>
  </div>
  <div class="container-dash-info">
    <h2>My Dashboard</h2>
    <div id="exTab2" class="container-tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="rounded-tab nav-link active" href="#1" data-toggle="tab">
          My Fosterings
          </a>
        </li>
        <li>
          <a  class="nav-link rounded-tab" href="#2" data-toggle="tab">
            My Paw Posts
          </a>
        </li>
        <li>
          <a  class="nav-link rounded-tab" href="#3" data-toggle="tab">
            My Reviews
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-content ">
      <div class="tab-pane active" id="1">
          <% @user.fosterings.each do |fostering| %>
        <div class="card-fostering-dash">
            <%= cl_image_tag fostering.dog.photo, :width => 180, :height => 180, :crop => "fill", class:"fostering-dash-img" %>
        <div class="info-buttons-container">
          <div class="card-fostering-dash-infos">
            <div class = "f-info1">
              <h1><%= fostering.dog.name.capitalize %></h1>
              <h4><%= fostering.dog.breed.capitalize %></h4>
              <%= link_to fostering_path(fostering), class:"link-tag" do %>
              <p><strong>Fostering: </strong><%= fostering.start_date.strftime("%b %d") %> - <%= fostering.end_date.strftime("%b %d") %></p>
              <% end %>
              <strong>Owner: </strong><%= fostering.dog.user.first_name.capitalize %> <%=fostering.dog.user.last_name.capitalize  %> <%= cl_image_tag fostering.dog.user.photo, class:"foster-img-avatar"%>
            </div>
          </div>
          <div class = "f-actions1">
            <p><%= link_to "View", dog_path(fostering.dog), style: "margin-left: 35px;", class: "btn-sm-white"%></p>
            <p><%= link_to "Delete", fostering_path(fostering), method: :delete, class: "btn-sm-white"%></p>
          </div>
        </div>
        </div>
          <% end %>
        <br>
        <p><%= link_to "Browse Pups", dogs_path, style: "margin-left: 210px;", class: "btn-cta"%></p>
      </div>


      <div class="tab-pane" id="2">
          <% @user.dogs.each do |dog| %>
        <div class="card-fostering-dash">
          <%= cl_image_tag dog.photo, :width => 180, :height => 180, :crop => "fill", class:"fostering-dash-img" %>
        <div class="info-buttons-container">
          <div class="card-fostering-dash-infos">
            <div class = "f-info1">
              <h1><%=dog.name.capitalize %></h1>
              <h4><strong>Fosterings</strong></h4>
          <div class = "upcoming-fosterings-grouping">
              <% dog.fosterings.each do |fostering| %>
            <ul style="list-style-type:none">
            <li>
              <div class ="post-items">
              <%= link_to fostering_path(fostering), class:"link-tag" do %>
              <%= cl_image_tag fostering.user.photo, class:"foster-img-avatar"%> <%= fostering.user.first_name.capitalize %> <%=fostering.user.last_name.capitalize  %>: <%= fostering.start_date.strftime("%b %d") %> - <%= fostering.end_date.strftime("%b %d") %>
                <% end %>
                </div>
              </li>
            </ul>
            <% end %>
          </div>
            </div>
          </div>
          <div class = "f-actions">
            <p><%= link_to "View", dog_path(dog), class: "btn-sm-white"%></p>
            <p><%= link_to "Edit", edit_dog_path(dog), class: "btn-sm-white"%></p>
            <p><%= link_to "Delete", dog_path(dog), method: :delete, class: "btn-sm-white"%></p>
          </div>
        </div>
        </div>
          <% end %>
        <br>
         <p><%= link_to "New Paw Post", new_dog_path, style: "margin-left: 210px;", class: "btn-cta"%></p>
      </div>


      <div class="tab-pane" id="3">
        <% @user.dogs.each do |dog| %>
        <% dog.fosterings.each do |fostering| %>
        <div class = 'review-container'>
          <div class = 'review-card-top'>
         <h4><%= cl_image_tag fostering.user.photo,
         class:"foster-img-avatar"%>
         <%= fostering.user.first_name.capitalize%> <%=fostering.user.last_name.capitalize%>
        <% fostering.reviews.each do |review| %>
         gave <%= review.rating %></h4>
            </div>
            <div class = 'review-card-bottom'>
          <p><em>"<%= review.content %>"</em></p>
        </div>
        <% end %>
         </div>
         <% end %>
         <% end %>
      </div>
    </div>

  </div>
</div>

