<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h2><%#= @user.age %></h2>
<h2><%= @user.description %></h2>

<h3>My fosterings</h3>
<% @user.fosterings.each do |fostering| %>
  <p><%= link_to fostering.dog.name, fostering_path(fostering) %> from <%= fostering.start_date %> to <%= fostering.end_date %></p>
  <p><%= link_to "Delete", fostering_path(fostering), method: :delete, class: "btn-main"%></p>
<% end %>
<p><%= link_to "Find a paw to foster", dogs_path, class: "btn-cta" %></p>

<h3>Manage paws</h3>
<% @user.dogs.each do |dog| %>
  <p><%= link_to dog.name, dog_path(dog) %> <%= dog.breed %> <%= dog.location %></p>
  <p><%= link_to "Edit", edit_dog_path(dog), class: "btn-main"%></p>
  <p><%= link_to "Delete", dog_path(dog), method: :delete, class: "btn-main"%></p>
<% end %>
<p><%= link_to "New Dog", new_dog_path, class: "btn-main" %></p>
