  <div class="banner">
    <div class="banner-content">
      <h1>Paw Pals</h1>
      <p>Fostering connections between peeps and pups.</p>
      <a href="#" class="btn-cta">Explore</a>
    </div>
  </div>

<h2>Button</h2>
<div class="button">
      <a href="#" class="btn-main">Button</a>
      <a href="#" class="btn-cta">CTA Button</a>
      <a href="#" class="btn-card">More Info</a>
</div>


<h2>Avatar design</h2>
<%= image_tag "choco_lab.jpg", class:"avatar" %>
<%= image_tag "choco_lab.jpg", class:"avatar-large" %>


<h2>Card design</h2>
<div class="card" style="width: 15rem;">
  <%= image_tag "choco_lab.jpg", class:"card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">Lola</h5>
    <p class="card-text">sassy, fun-loving Chocolate Lab</p>
    <a href="#" class="btn btn-card">More Info</a>
  </div>
</div>


<%= image_tag("https://res.cloudinary.com/le-wagon1234/image/upload/v1572331601/tom-hills-zoF_dgsldlY-unsplash_tjcegs.jpg",
      width: 400, height: 300, crop: :fill) %>


<%= link_to "log out", destroy_user_session_path, method: :delete %>
