  <div class="banner">
    <div class="banner-content">
      <h1>Paw Pals</h1>
      <p>Fostering connections between peeps and pups.</p>
      <%= simple_form_for :search, url: dogs_path, method: "GET" do |f| %>
        <%= f.input :location,label: false, input_html: {value: ""}, placeholder: "            \" Try Canggu \""%>
        <%= f.submit "Explore", class:"btn-cta search-bar" %>
      <% end %>
    </div>
  </div>

<div class="container-about">
  <h2>About Us</h2>
  <p>Paw Pals is an online, searchable database of animals who need homes.
  <br>We have a directory dogs from nearly 11,000 animal shelters and adoption organizations around the world.
  <br>Our mission is to connect dog lovers with dogs in need of a short-term or forever home.</p>
</div>



<div class="container-home">
  <div class="row">

<div class="col-sm-4">
 <div class = "card-home">
   <%= image_tag "search.png", class:"home-icon" %>
    <h2>Search</h2>
    <p>Find dogs in your area.</p>
 </div>
 </div>

<div class="col-sm-4">
 <div class = "card-home">
   <%= image_tag "dog_home.png", class:"home-icon" %>
    <h2>Foster</h2>
    <p>Foster dogs who need a short-term home.</p>
 </div>
 </div>

<div class="col-sm-4">
 <div class = "card-home">
   <%= image_tag "dog_woman.png", class:"home-icon" %>
    <h2>Adopt</h2>
    <p>If you've fallen in love, adopt a pup.</p>
 </div>
 </div>

  </div>
</div>
